streamlit 
langchain 
langchain_community 
langchain_google_genai 
faiss-cpu
python-dotenv>=1.0.0
sentence-transformers>=2.2.2
langchain_experimental>=0.0.42
langchain_chroma>=0.1.0
langchainhub>=0.1.14
unstructured>=0.11.2
chromadb>=0.4.22
pdfminer.six>=20221105
pypdf>=3.17.1
